.span12
  %h1.text-center Meetup Locations
  
- data.events.each do |id, meetup|
  - if meetup.location.present?
    - unless environment == :build && !meetup.published
      .span4.text-center
        = link_to "/#{id.dasherize}" do
          %img{src: "images/#{meetup.location}.jpg"}

        %h2
          = meetup.location

        %time= meetup.date.strftime("#{meetup.date.day.ordinalize} %B %Y")

        = link_to "/#{id.dasherize}", class: 'btn' do 
          View details &amp; speakers